In [1]:
import pandas as pd
import numpy as np
import os

In [11]:
data_path = os.path.join('..', 'data', 'pokemon_egg_group.csv')
dtype_dict = {
    'pokemon_id': 'int64',
    'cycles': 'int64',
    'steps_gen_ii': 'Int64',
    'steps_gen_iii': 'Int64',
    'steps_gen_iv': 'Int64',
    'steps_gen_v-vi': 'Int64',
    'steps_gen_vii': 'Int64',
    'steps_gen_viii-ix': 'Int64'
}
df = pd.read_csv(data_path, dtype=dtype_dict)

In [12]:
df

,pokemon_id,pokemon,egg_group_1,egg_group_2,cycles,steps_gen_ii,steps_gen_iii,steps_gen_iv,steps_gen_v-vi,steps_gen_vii,steps_gen_viii-ix
0,1,Bulbasaur,Monster,Grass,20,5120,5376,5355,5140,5120,2560
1,2,Ivysaur,Monster,Grass,20,5120,5376,5355,5140,5120,2560
2,3,Venusaur,Monster,Grass,20,5120,5376,5355,5140,5120,2560
3,4,Charmander,Monster,Dragon,20,5120,5376,5355,5140,5120,2560
4,5,Charmeleon,Monster,Dragon,20,5120,5376,5355,5140,5120,2560
...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,Iron Valiant,NaN,NaN,50,<NA>,<NA>,<NA>,<NA>,<NA>,6400
1006,1007,Koraidon,NaN,NaN,50,<NA>,<NA>,<NA>,<NA>,<NA>,6400
1007,1008,Miraidon,NaN,NaN,50,<NA>,<NA>,<NA>,<NA>,<NA>,6400
1008,1009,Walking Wake,NaN,NaN,50,<NA>,<NA>,<NA>,<NA>,<NA>,6400
1009,1010,Iron Leaves,NaN,NaN,50,<NA>,<NA>,<NA>,<NA>,<NA>,6400

In [64]:
# Get the egg groups for Totodile and Weavile, excluding NaN values
totodile_egg = set(df.loc[df['pokemon'] == 'Totodile', ['egg_group_1', 'egg_group_2']].values.flatten())
totodile_egg = {group for group in totodile_egg if pd.notna(group)}

weavile_egg = set(df.loc[df['pokemon'] == 'Weavile', ['egg_group_1', 'egg_group_2']].values.flatten())
weavile_egg = {group for group in weavile_egg if pd.notna(group)}

# Filter the DataFrame based on the egg groups
filtered_df = df[df.apply(lambda row: 
                          bool((set([row['egg_group_1'], row['egg_group_2']]) & totodile_egg)) &
                          bool((set([row['egg_group_1'], row['egg_group_2']]) & weavile_egg))
         , axis=1)]

In [66]:
filtered_df

,pokemon_id,pokemon,egg_group_1,egg_group_2,cycles,steps_gen_ii,steps_gen_iii,steps_gen_iv,steps_gen_v-vi,steps_gen_vii,steps_gen_viii-ix
29,29,Nidoran♀,Monster,Field,20,5120,5376,5355,5140,5120,2560
32,32,Nidoran♂,Monster,Field,20,5120,5376,5355,5140,5120,2560
33,33,Nidorino,Monster,Field,20,5120,5376,5355,5140,5120,2560
34,34,Nidoking,Monster,Field,20,5120,5376,5355,5140,5120,2560
59,54,Psyduck,Water 1,Field,20,5120,5376,5355,5140,5120,2560
60,55,Golduck,Water 1,Field,20,5120,5376,5355,5140,5120,2560
95,86,Seel,Water 1,Field,20,5120,5376,5355,5140,5120,2560
96,87,Dewgong,Water 1,Field,20,5120,5376,5355,5140,5120,2560
124,111,Rhyhorn,Monster,Field,20,5120,5376,5355,5140,5120,2560
125,112,Rhydon,Monster,Field,20,5120,5376,5355,5140,5120,2560
126,464,Rhyperior,Monster,Field,20,<NA>,<NA>,5355,5140,5120,2560
210,179,Mareep,Monster,Field,20,5120,5376,5355,5140,5120,2560
211,180,Flaaffy,Monster,Field,20,5120,5376,5355,5140,5120,2560
212,181,Ampharos,Monster,Field,20,5120,5376,5355,5140,5120,2560
227,194,Wooper,Water 1,Field,20,5120,5376,5355,5140,5120,2560
228,195,Quagsire,Water 1,Field,20,5120,5376,5355,5140,5120,2560
260,225,Delibird,Water 1,Field,20,5120,5376,5355,5140,5120,2560
323,293,Whismur,Monster,Field,20,<NA>,5376,5355,5140,5120,2560
324,294,Loudred,Monster,Field,20,<NA>,5376,5355,5140,5120,2560
325,295,Exploud,Monster,Field,20,<NA>,5376,5355,5140,5120,2560
397,363,Spheal,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560
398,364,Sealeo,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560
399,365,Walrein,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560
427,393,Piplup,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560
428,394,Prinplup,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560
429,395,Empoleon,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560
433,399,Bidoof,Water 1,Field,15,<NA>,<NA>,4080,3855,3840,1920
434,400,Bibarel,Water 1,Field,15,<NA>,<NA>,4080,3855,3840,1920
450,418,Buizel,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560
451,419,Floatzel,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560
733,728,Popplio,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920
734,729,Brionne,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920
735,730,Primarina,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920
821,816,Sobble,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560
822,817,Drizzile,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560
823,818,Inteleon,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560
874,875,Eiscue,Water 1,Field,25,<NA>,<NA>,<NA>,<NA>,<NA>,3200
979,980,Clodsire,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560

In [67]:
data_path2 = os.path.join('..', 'data', 'pokemon.csv')
df_full = pd.read_csv(data_path2)

In [73]:
for col in df_full.columns:
    print(col)

abilities
against_bug
against_dark
against_dragon
against_electric
against_fairy
against_fight
against_fire
against_flying
against_ghost
against_grass
against_ground
against_ice
against_normal
against_poison
against_psychic
against_rock
against_steel
against_water
attack
base_egg_steps
base_happiness
base_total
capture_rate
classfication
defense
experience_growth
height_m
hp
japanese_name
name
percentage_male
pokedex_number
sp_attack
sp_defense
speed
type1
type2
weight_kg
generation
is_legendary

In [74]:
filtered_df.merge(df_full[['pokedex_number','abilities']], how='left', left_on=['pokemon_id'], right_on=['pokedex_number'])

,pokemon_id,pokemon,egg_group_1,egg_group_2,cycles,steps_gen_ii,steps_gen_iii,steps_gen_iv,steps_gen_v-vi,steps_gen_vii,steps_gen_viii-ix,pokedex_number,abilities
0,29,Nidoran♀,Monster,Field,20,5120,5376,5355,5140,5120,2560,29.0,"['Poison Point', 'Rivalry', 'Hustle']"
1,32,Nidoran♂,Monster,Field,20,5120,5376,5355,5140,5120,2560,32.0,"['Poison Point', 'Rivalry', 'Hustle']"
2,33,Nidorino,Monster,Field,20,5120,5376,5355,5140,5120,2560,33.0,"['Poison Point', 'Rivalry', 'Hustle']"
3,34,Nidoking,Monster,Field,20,5120,5376,5355,5140,5120,2560,34.0,"['Poison Point', 'Rivalry', 'Sheer Force']"
4,54,Psyduck,Water 1,Field,20,5120,5376,5355,5140,5120,2560,54.0,"['Damp', 'Cloud Nine', 'Swift Swim']"
5,55,Golduck,Water 1,Field,20,5120,5376,5355,5140,5120,2560,55.0,"['Damp', 'Cloud Nine', 'Swift Swim']"
6,86,Seel,Water 1,Field,20,5120,5376,5355,5140,5120,2560,86.0,"['Thick Fat', 'Hydration', 'Ice Body']"
7,87,Dewgong,Water 1,Field,20,5120,5376,5355,5140,5120,2560,87.0,"['Thick Fat', 'Hydration', 'Ice Body']"
8,111,Rhyhorn,Monster,Field,20,5120,5376,5355,5140,5120,2560,111.0,"['Lightningrod', 'Rock Head', 'Reckless']"
9,112,Rhydon,Monster,Field,20,5120,5376,5355,5140,5120,2560,112.0,"['Lightningrod', 'Rock Head', 'Reckless']"
10,464,Rhyperior,Monster,Field,20,<NA>,<NA>,5355,5140,5120,2560,464.0,"['Lightningrod', 'Solid Rock', 'Reckless']"
11,179,Mareep,Monster,Field,20,5120,5376,5355,5140,5120,2560,179.0,"['Static', 'Plus']"
12,180,Flaaffy,Monster,Field,20,5120,5376,5355,5140,5120,2560,180.0,"['Static', 'Plus']"
13,181,Ampharos,Monster,Field,20,5120,5376,5355,5140,5120,2560,181.0,"['Static', 'Plus']"
14,194,Wooper,Water 1,Field,20,5120,5376,5355,5140,5120,2560,194.0,"['Damp', 'Water Absorb', 'Unaware']"
15,195,Quagsire,Water 1,Field,20,5120,5376,5355,5140,5120,2560,195.0,"['Damp', 'Water Absorb', 'Unaware']"
16,225,Delibird,Water 1,Field,20,5120,5376,5355,5140,5120,2560,225.0,"['Vital Spirit', 'Hustle', 'Insomnia']"
17,293,Whismur,Monster,Field,20,<NA>,5376,5355,5140,5120,2560,293.0,"['Soundproof', 'Rattled']"
18,294,Loudred,Monster,Field,20,<NA>,5376,5355,5140,5120,2560,294.0,"['Soundproof', 'Scrappy']"
19,295,Exploud,Monster,Field,20,<NA>,5376,5355,5140,5120,2560,295.0,"['Soundproof', 'Scrappy']"
20,363,Spheal,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560,363.0,"['Thick Fat', 'Ice Body', 'Oblivious']"
21,364,Sealeo,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560,364.0,"['Thick Fat', 'Ice Body', 'Oblivious']"
22,365,Walrein,Water 1,Field,20,<NA>,5376,5355,5140,5120,2560,365.0,"['Thick Fat', 'Ice Body', 'Oblivious']"
23,393,Piplup,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560,393.0,"['Torrent', 'Defiant']"
24,394,Prinplup,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560,394.0,"['Torrent', 'Defiant']"
25,395,Empoleon,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560,395.0,"['Torrent', 'Defiant']"
26,399,Bidoof,Water 1,Field,15,<NA>,<NA>,4080,3855,3840,1920,399.0,"['Simple', 'Unaware', 'Moody']"
27,400,Bibarel,Water 1,Field,15,<NA>,<NA>,4080,3855,3840,1920,400.0,"['Simple', 'Unaware', 'Moody']"
28,418,Buizel,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560,418.0,"['Swift Swim', 'Water Veil']"
29,419,Floatzel,Water 1,Field,20,<NA>,<NA>,5355,5140,5120,2560,419.0,"['Swift Swim', 'Water Veil']"
30,728,Popplio,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920,728.0,"['Torrent', 'Liquid Voice']"
31,729,Brionne,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920,729.0,"['Torrent', 'Liquid Voice']"
32,730,Primarina,Water 1,Field,15,<NA>,<NA>,<NA>,<NA>,3840,1920,730.0,"['Torrent', 'Liquid Voice']"
33,816,Sobble,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560,NaN,NaN
34,817,Drizzile,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560,NaN,NaN
35,818,Inteleon,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560,NaN,NaN
36,875,Eiscue,Water 1,Field,25,<NA>,<NA>,<NA>,<NA>,<NA>,3200,NaN,NaN
37,980,Clodsire,Water 1,Field,20,<NA>,<NA>,<NA>,<NA>,<NA>,2560,NaN,NaN